.middle-block{
    width: 1440px;
    height: 879px;
    justify-content: center;
    align-items: center;
    background-color: 
   rgba(250, 248, 246, 1);
   .middle-main-text-block>p{
    font-size: 48px;
    color: 
    rgba(51, 52, 97, 1);
    font-weight: 800;
    display: flex;
    position: absolute;
    text-align: left;
    margin-top: 8rem;
    margin-left: 8rem;
   }
   .first-mid-block{
    width: 400px;
    height: 391px;
    background-color: 
    rgba(177, 186, 200, 0.12);
    position: absolute;
    margin-top: 20rem;
    margin-left: 8rem;
    justify-content: center;
    align-items: center;
   }
}